@use 'variables';

@font-face {
    font-family: 'overpass-regular';
    src: url('../fonts/Overpass-Regular.ttf');
}

@font-face {
    font-family: 'overpass-xtrabold';
    src: url('../fonts/Overpass-ExtraBold.ttf');
    font-weight: bolder;
}

h1 {
    background: url("../img/sky.jpg");
    background-position: 50% 50%;
    background-size: cover;
    font-family: 'overpass-xtrabold';    
    font-size: 15em;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.65em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    
}

h3 {
    font-family:'overpass-regular';
    color:$white;
    font-size: 1.5em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    align-self: end;
    font-weight: normal;
}

a {
    font-family:'overpass-regular';
    color:$white;
    font-size: 2em;
    text-decoration: none;
    vertical-align: middle;
    position: relative;

    
}


a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -0.1em;
    left: 0;
    padding-right: 0.1em;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.5s cubic-bezier(.75,.04,.27,.91);
  }

  a:hover:before {
    visibility: visible;
    width: 100%;
  }

.contact-me {
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: start;
    align-self: end;
    margin-left: 4em;
    margin-right: 1em;
    margin-bottom: 2em;
    a {
        font-size: 1.5em;
    }
}

path {
    fill: $white;
}

span {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;    
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    
}


.soundcloud {
    position: relative;
    top: 0.1em;
}

.twitter {
    position: relative;
    padding-right: 0.45em;
    left: 0.17em;
}

.instagram {
    position: relative;
    padding-right: 0.59em;
    left: 0.23em;
}

.linkedin {
    position: relative;
    padding-right: 0.59em;
    left: 0.23em;
}

.github {
    position: relative;
    padding-right: 0.46em;
    left: 0.2em;
}